@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Fira+Sans:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Fira Sans", sans-serif;
  background: #000;
  color: #fff;
  font-family: "Bebas Neue", sans-serif;
}

/* NAVBAR */
nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #080818;
  padding: 0 40px;
  /* position: sticky;
  top: 0;
  z-index: 1000; */
  height: 14vh;
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.6);
  cursor: pointer;
  background: rgba(8, 8, 24, 0.5); /* semi-transparent */

  /* Frosted glass blur */
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(40px);

  /* Optional border for better separation */
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);

  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.3);
}

nav img {
  width: 240px;
  height: auto;
  cursor: pointer;
  margin-left: -60px;
}

/* LINKS */
.nav-links {
  display: flex;
  gap: 30px;
  align-items: center;
  margin-left: -60px;
}

.nav-links li {
  list-style: none;
}

.nav-links li a {
  text-decoration: none;
  color: white;
  font-size: 1rem;
  letter-spacing: 1px;
  position: relative;
  transition: color 0.3s ease;
}

.nav-links li a::after {
  content: "";
  position: absolute;
  bottom: -6px;
  left: 0;
  width: 0%;
  height: 2px;
  background: #8b5cf6;
  transition: width 0.3s ease;
}

.nav-links li a:hover {
  color: #8b5cf6;
}

.nav-links li a:hover::after {
  width: 100%;
}

/* JOIN BUTTON */
.join-btn {
  border: 4px solid #8b5cf6;
  background: transparent;
  color: white;
  font-size: 0.9vw;
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 10px;
  font-family: "Bebas Neue", sans-serif;
  transition: all 0.3s ease;
}

.join-btn:hover {
  background: white;
  color: #8b5cf6;
  transform: translateY(-5px);
  box-shadow: 0 0 20px #8a5cf6a9;
}

/* HAMBURGER ICON */
.hamburger {
  display: none;
  flex-direction: column;
  gap: 6px;
  cursor: pointer;
  z-index: 1100;
}

.hamburger span {
  width: 28px;
  height: 3px;
  background: white;
  border-radius: 3px;
  transition: all 0.3s ease;
}

/* Hide checkbox */
#menu-toggle {
  display: none;
}

/* RESPONSIVE */
@media (max-width: 800px) {
  nav {
    padding: 0 20px;
  }
  nav img {
    width: 250px;
  }

  .nav-links {
    position: fixed;
    top: 0;
    right: -100%;
    width: 60%;
    height: 100%;
    background: #111;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: center;
    padding: 40px 0;
    transition: right 0.3s ease;
  }

  button.join-btn {
    margin-top: 20px;
    display: none;
  }

  /* Show hamburger */
  .hamburger {
    display: flex;
  }

  /* Toggle menu */
  #menu-toggle:checked ~ .nav-links {
    right: 0;
  }

  /* Hamburger animation */
  #menu-toggle:checked + .hamburger span:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
  }
  #menu-toggle:checked + .hamburger span:nth-child(2) {
    opacity: 0;
  }
  #menu-toggle:checked + .hamburger span:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
  }
}

.glow {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 100vh; /* make it cover entire viewport height */

  background: radial-gradient(
    circle at top center,
    #8b5cf6 0%,
    #5b21b6 40%,
    #080818 100%
  );

  pointer-events: none; /* allow clicks through */
  z-index: -1; /* behind all content */
  filter: blur(100px); /* soften the glow */
}
main {
  width: 100%;
  /* background: white; */
}
.section1 {
  width: 100%;
  height: 140vh;
  /* background: #101010; */
}
.section1 .top {
  max-width: 1300px;
  /* background: red; */
  margin: 0px auto;
  padding: 20px 0;
}
.section1 .top h2 {
  font-size: 8vh;
}
.section1 .top h2 span {
  background: #f8c900;
  border-radius: 40px;
  padding: 5px 30px;
  margin-bottom: 20px;
}
.section1 .top .strike {
  /* background: blue; */
  width: 100%;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */

  /* align-items: center; */
  /* align-items: end; */
}
.section1 .top .strike h1 {
  font-size: 60vh;
  line-height: 53vh;
  -webkit-text-stroke: 6px #ffffff;
  letter-spacing: 14px;
  /* background: red; */
  text-align: center;
  background: linear-gradient(to left, #5b21b6, black);
  background-clip: text;
  color: transparent;
}

.section1 .top .strike .right {
  width: 100%;
  /* height: 50vh; */

  /* background: greenyellow; */
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: end;
  /* padding-bottom: 20px; */
  margin-top: -20px;
}
.section1 .top .strike .right h2 {
  font-size: 40px;
}
.section1 .top .strike .right h2 span {
  background: #e02424;
  margin-right: 2px;
}
.section1 .top .strike .right img {
  width: 200px;
  margin-top: 10px;
}
.section2 {
  width: 100%;
  height: 100vh;
  background: red;
  border-radius: 0 0 100px 100px;
}
